
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Valores obtidos do HomeController via ViewBag</h1>

        <div>
            @*<b>Nome: </b> @ViewData["Nome"] <br />
            <b>Email: </b> @ViewData["Email"] <br />
            <b>Curso: </b> @ViewData["Curso"] <br />
            <b>Data Inicio: </b> @ViewData["DataInicio"] <br />*@

            @*<b>Nome: </b> @ViewBag.Nome <br />
            <b>Email: </b> @ViewBag.Email <br />
            <b>Curso: </b> @ViewBag.Curso <br />
            <b>Data Inicio: </b> @ViewBag.DataInicio <br />*@

            <ul>

                @foreach (string strPais in ViewBag.Paises)
                 {
                    <li>@strPais</li>
                 }

            </ul>

        </div>
    </div>
</body>
</html>
